<link href="/css/adminBackground.css" rel="stylesheet" type="text/css">

<table class="table table-striped table-dark w-75 mx-auto mt-5" style="margin-bottom:44vh">
    
    <thead>
        <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col" class="w-25">Remove Employee</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class="w-25"><a role="button" href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td class="w-25"><a role="button" href="#" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td class="w-25"><a role="button" href="#" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>
